<!DOCTYPE html>
<html>
	<head>
	  <title>El Kendoka Norteño</title>
	  <link type="text/css" rel="stylesheet" href="main.css" />
	  <link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type="text/css"/>
	  <%= stylesheet_link_tag    "main", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>

	</head>
	<body>

		<header>
			<h1>
				El Kendoka Norteño				
			</h1>
			<h2 class="cita">
				<a href="http://en.wikiquote.org/wiki/Musashi_Miyamoto#The_Ground_Book">
					Si no observas las cosas a una escala mayor, te será dificil dominar la estrategia
				</a>
				<a href="http://en.wikipedia.org/wiki/Musashi_Miyamoto">
					Musashi Miyamoto
				</a> 
			</h2>

		</header>

		<main>
			<%= yield %>
		</main>
		
		<sidebar>
			<section id="enlaces">
				<h3>Referencias</h3>
				<div class="enlace">
					<a href="http:www.kendo-oviedo.com">Kendo Oviedo</a>
				</div> 
				<div class="enlace">
				<a href="http:www.kendogijon.es">Kendo Gijon</a>
								</div> 
				<div class="enlace">
								</div> 

			</section>

			<section id="social">
				<ul>
					<li id="twitter">
						<a href="http://www.twitter.com/kendokanorteño">Twitter</a>
					</li>
					<li id="facebook">
						<a href="http://www.facebook.com/kendokanorteño">Facebook</a>
					</li>
				</ul>
			</section>
		</sidebar>

		<footer>

			<ul>
				<li>
					<a href="mailto:kendokanorteño@gmail.com">Contacto
					</a>
					
				</li>
				</li>
					<p>Realizado con orgullo con RoR</p>
				<li>
		</footer>


	</body>
</html>

